---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import Project from '../components/Project';
---

<Layout title='parthm'>
  <main class='dark'>
    <div class='h-screen'>
      <Card />
    </div>
  </main>
</Layout>
