---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import { inject } from '@vercel/analytics';

inject();
---

<Layout title='parthm'>
  <main class='dark'>
    <div class='min-h-screen'>
      <Card />
    </div>
  </main>
</Layout>
