---
---

<div class='font-ObjectSans h-full'>
  <div class='p-20 top-[25%] absolute'>
    <div class='flex flex-row items-center'>
      <h1 class='text-8xl font-bold italic'>parthm</h1>
    </div>
    <div class='flex flex-col justify-start items-start space-y-2 mt-12'>
      <button>
        <h2 class='text-2xl italic'>
          <a href='https://github.com/ParthMmm'>github</a>
        </h2>
      </button>
      <button>
        <h2 class='text-2xl italic'>
          <a href='https://www.linkedin.com/in/parthmangrola/'>linkedin</a>
        </h2>
      </button>
      <button>
        <h2 class='text-2xl italic'>
          <a
            href='https://drive.google.com/file/d/170kgQ0N4xIQd-kuW4DpQa2enXMxeLrfq/view?usp=sharing'
            >resume</a
          >
        </h2>
      </button>
      <button>
        <h2 class='text-2xl italic'>
          <a href='https://airtable.com/shrANyL9u6ExFlCye'>what i'm consuming</a
          >
        </h2>
      </button>
    </div>
  </div>
</div>
